<ion-content class="neutral-background" padding>

  <ion-card style="margin: 0; width: 100%; box-shadow: none;">
      <ion-item color="blue-grey100">
        <ion-avatar class="center-avatar-image" item-start style="width: 65px; height: 65px; background-color: #f2f2f2;">
          <img src="{{ userTeam.image }}" (click)="randomTeamInfo()" style="width: 45px; height: 45px;">
        </ion-avatar>

        <div class="row" ion-text color="blue-grey700">
          <div style="font-size: 48px; font-weight: 500;">{{ userTeam.rank + 'ª' }}</div>
          
          <div class="col" style="margin-left: 10px;" align-self-center>
            <div style="font-size: 21px; font-weight: 500;">{{ 'Posição' }}</div>
            <div style="font-size: 12px;">{{ userTeam.points + ' pontos' }}</div>
          </div>
        </div>
      </ion-item>
   </ion-card>

   <div class="list-title" margin-top margin-bottom>INTEGRANTES</div>

   <ion-card class="row" *ngFor="let member of members" style="margin: 0; margin-bottom: 10px; width: 100%;">
    <ion-item class="flex" style="padding-left: 8px; min-width: 190px;">
      <ion-avatar item-start style="margin: 0;">
        <img src="{{ member.image }}">
      </ion-avatar>

      <div class="col" style="margin-left: 5px;">
        <div style="font-size: 13px; font-weight: 500; margin-bottom: 2px;">{{ member.name }}</div>
        <div style="font-size: 11px; color: rgba( 0, 0, 0, 0.54 );">{{ 'Level ' + member.level }}</div>
      </div>
    </ion-item>

    <ion-item color="grey300" class="flex" style="padding-left: 8px; max-width: 160px;">
      <ion-avatar class="hide-xsmall-360 center-avatar-image" item-start style="margin: 0;">
        <img src="{{ member.team.image }}" style="width: 30px; height: 30px;">
      </ion-avatar>

      <div class="col" ion-text color="blue-grey700" style="margin-left: 5px;" align-self-center>
        <div style="font-size: 13px; font-weight: 500; margin-bottom: 2px;">{{ member.team.rank + 'ª Posição' }}</div>
        <div style="font-size: 11px;">{{ member.team.points + ' pontos' }}</div>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
