<ion-content class="neutral-background" padding>
    
  <div class="row exp-progress-bar-container" justify-content-between align-items-center>
    <div text-capitalize class="exp-progress-bar-title">{{ level.currentLevel }}</div>
    <div class="exp-progress-bar-caption">{{ level.currentExp }} / {{ level.nextLevelExp }}XP</div>
    <progress class="exp-progress-bar" max="100" value="{{ getCurrentLevelPercentage() }}"></progress>
  </div>

  <ion-card no-margin style="height: 250px; width: 100%; margin-top: 20px; background-color: #E0E0E0; display: flex; align-items: center; justify-content: center;">
    <div style="font-size: 20px; color: rgba( 0, 0, 0, 0.54 );">Gráfico</div>
  </ion-card>

</ion-content>
