page-performance {

    .exp-progress-bar-container {
        height: 50px;
        position: relative; 
    }

    .exp-progress-bar-caption {
        z-index: 11; 
        font-size: 12px;
        margin-right: 10px; 
        color: rgb( 250, 250, 250 ); 
    }

    .exp-progress-bar-title {
        z-index: 11; 
        font-size: 26px; 
        font-weight: 500;
        margin-left: 10px; 
        color: rgb( 250, 250, 250 ); 
    }

    .exp-progress-bar {
        width: 100%;
        height: 50px;
        border: none;
        display:block;
        appearance: none;
        position: absolute;
        -webkit-appearance: none;

        &::-webkit-progress-bar {
          background-color: #546E7A;
        }

        &::-webkit-progress-value {
          background-color: #00BFA5;
        }
    }
}
