<ion-content padding class="neutral-background">
    
    <ion-card *ngFor="let notification of notifications"  style="width: auto;">
        <ion-card-header style="padding: 5px 10px 5px 15px">

            <div class="row" align-items-center style="height: 30px;">
                <ion-avatar height="20">
                    <img src="assets/img/boss-avatar.png">
                </ion-avatar>
                
                <div style="font-size: 13px; margin-left:15px">{{notification.who }} {{notification.description}}</div>
            </div>
        </ion-card-header>

        <ion-item-divider no-padding no-margin ></ion-item-divider>

        <ion-item>
            <ion-avatar item-start>
                <img src="assets/img/boss-avatar.png">
            </ion-avatar>
            <h2 style="font-weight:bold">{{notification.badge}}</h2>
            <p>{{notification.xp}} {{notification.level}}</p>
        </ion-item>
    </ion-card>

</ion-content>