// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.neutral-background {
    background-color: #EEEEEE;
}

//flex tags
.flex {
    flex: 1;
    display: flex; 
}

//a label that describes list (title of the list)
.list-title {
    font-size: 12px;
    color: rgba( 0, 0, 0, 0.54 );
}

//center avatar image in a <ion-avatar> (use smaller size for image to avoid cuts in image)
ion-avatar.center-avatar-image {
    position: relative;
    border-radius: 50%;
}


ion-avatar.center-avatar-image img {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-right: -50%;
    border-radius: 0;
    transform: translate( -50%, -50% );
}
