<ion-content>
  <div style="position: absolute; z-index: 11; top: 20px; left: calc( 50% - 45px );">
    <ion-avatar (click)="randomUserInfo()"><img src="{{ user.image }}" style="height: 90px; width: 90px;"></ion-avatar>
  </div>

  <ion-toolbar no-border color="primary" style="height: 70px; margin-bottom: 50px;"></ion-toolbar>

  <div text-center class="user-title">{{ user.name }}</div>
  <div text-center class="user-job">{{ user.jobFunction }}</div>

  <div class="row" justify-content-center>
    <div class="row" justify-content-around style="margin-top:20px; margin-bottom: 20px; min-width: 320px; max-width: 480px; width: 100%;">
      <div class="col" text-center>
        <img class="earnings-image" src="{{ game.level.image }}">
        <div class="earnings-title" ion-text color="blueA700">{{ game.level.currentLevel }}</div>
        <div class="earnings-subtitle">{{ game.level.currentExp + ' / ' + game.level.nextLevelExp + ' XP' }}</div>
      </div>

      <div class="col" text-center>
        <img class="earnings-image" src="{{ game.position.image }}">
        <div class="earnings-title" ion-text color="{{ 
          game.position.rank == 1 ? 'amber700' : 
          game.position.rank == 2 ? 'grey400'  : 
          game.position.rank == 3 ? 'bronze' : 'blue-grey700' }}">{{ game.position.currentPosition }}</div>
        <div class="earnings-subtitle"><span>{{ game.position.currentPoints }}</span> pontos</div>
      </div>

      <div class="col" text-center>
        <img class="earnings-image" src="{{ game.gold.image }}">
        <div class="earnings-title" ion-text color="amber700">{{ game.gold.currentGold }}</div>
        <div class="earnings-subtitle">{{ game.gold.description }}</div>
      </div>
    </div>
  </div>

  <ion-item-divider></ion-item-divider>

  <ion-tabs tabsPlacement="top" class="tab-container" selectedIndex="3">
    <ion-tab [root]="performanceTab" [rootParams]="game" tabTitle="Desempenho"></ion-tab>
    <ion-tab [root]="inventoryTab" tabTitle="Inventário"></ion-tab>
    <ion-tab [root]="teamTab" tabTitle="Equipe"></ion-tab>
    <ion-tab [root]="progressTab" tabTitle="Progresso"></ion-tab>
  </ion-tabs>

</ion-content>