page-user {

    .user-icon {
        margin: 20px; font-size: 60px;
        color: rgba( 0, 0, 0, 0.54 );
    }

    .user-title {
        font-size: 18px;
        font-weight: 500;
        margin: 5px;
    }

    .user-job {
        font-size: 13px;
        color: rgba( 0, 0, 0, 0.54 );
    }

    .earnings-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .earnings-subtitle {
        font-size: 11px; 
        color: rgba( 0, 0, 0, 0.54 );
    }

    .earnings-image {
        width: 40px;
        height: 40px;
    }

    .tab-container {
        position: relative;
    }

}
