page-progress {

    .achievement {
        height: 90px;
    }

    .achievement-title {
        font-size: 16px;
        font-weight: 500; 
    }

    .achievement-message {
        font-size: 12px;
        margin-bottom: 5px;
        color: rgba( 0, 0, 0, 0.54 );
    }

    .achievement-reward {
        font-size: 12px;
        font-weight: bold;
    }

}
