<<ion-content class="neutral-background" padding>

  <div *ngFor="let range of ranges">
    <div class="row">
      <div style="width: 11px; height: 11px; background-color: #488aff; border-radius: 50%; align-self: center; margin-right: 10px;"></div>
      <div style="font-size: 11px; color: rgba( 0, 0, 0, 0.54 );">{{ range.title }}</div>
    </div>

    <div class="row">
      <div style="border-left: 1px solid rgba( 0, 0, 0, 0.24 ); margin-left: 5px;"></div>

      <div class="col" style="margin-top: 10px; margin-left: 10px; margin-bottom: 10px;">
        <ion-card *ngFor="let badge of range.badges" style="width: 100%; margin-bottom: 10px;" no-margin no-padding>
          <ion-item class="achievement">
            <ion-avatar item-start>
              <img src="{{ badge.image }}" (click)="randomBadge()" style="width: 60px; height: 60px;">
            </ion-avatar>

            <div class="achievement-reward" style="position: absolute; top: 10px; right: 10px;">
                <span ion-text color="blueA200" style="margin-right: 5px;">200+</span>
                <span ion-text color="amber700">3+</span>
            </div>
    
            <div class="col">
              <div class="achievement-message">{{ 'Você ganhou um novo badge!' }}</div>
              <div class="achievement-title">{{ badge.title }}</div>
            </div>
          </ion-item>
        </ion-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div style="width: 11px; height: 11px; background-color: #488aff; border-radius: 50%; align-self: center; margin-right: 10px;"></div>
    <div ion-text style="font-size: 11px;" color="primary">{{ 'Start!' }}</div>
  </div>

</ion-content>