<ion-content class="neutral-background">

      <ion-card *ngFor="let notification of notifications" no-margin no-padding style="width: auto;">
         <ion-item>
            <ion-avatar item-start>
               <img src="assets/img/boss-avatar.png">
            </ion-avatar>
            <h2>{{notification.description}}</h2>
            <p>{{notification.when | date}}</p>
         </ion-item>
      </ion-card>

</ion-content>