<ion-header no-border>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar color="primary" (ionInput)="getItems($event)" style="margin-right: 16px;" padding-right></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-tabs tabsPlacement="bottom" class="tab-container" selectedIndex="0">
    <ion-tab [root]="userTab" tabIcon="md-person"></ion-tab>
    <ion-tab [root]="notificationsTab" tabIcon="notifications"></ion-tab>
    <ion-tab [root]="feedTab" tabIcon="grid"></ion-tab>
  </ion-tabs>

</ion-content>
