page-inventory {

    .achievement {
        height: 90px;
    }

    .achievement-title {
        font-size: 16px;
        font-weight: 500; 
        margin-bottom: 5px;
    }

    .achievement-when {
        font-size: 12px;
        color: rgba( 0, 0, 0, 0.54 );
    }

}
