<ion-content class="neutral-background" padding>
  
  <div class="list-title" style="margin-top: 10px;" margin-bottom>BADGES</div>

  <ion-card *ngFor="let badge of badges" style="width: 100%; margin-bottom: 10px;" no-margin no-padding>
    <div class="row">
      <ion-item class="achievement">
        <ion-avatar item-start>
          <img src="{{ badge.image }}" (click)="randomBadge()" style="width: 60px; height: 60px;">
        </ion-avatar>

        <div class="col">
          <div class="achievement-title">{{ badge.title }}</div>
          <div class="achievement-when">{{ 'Conquistado em ' + badge.when.toLocaleDateString() }}</div>
        </div>
      </ion-item>
    </div>
   </ion-card>
</ion-content>
